In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm
from bayes_impute import BayesianImputer

In [2]:

# --- Step 1: Create Sample Data ---
np.random.seed(None)
df = pd.DataFrame({
    'age': np.random.normal(30, 5, 100),
    'income': np.random.normal(50000, 10000, 100)
})
df.loc[np.random.choice(df.index, 10, replace=False), 'age'] = np.nan
df.loc[np.random.choice(df.index, 15, replace=False), 'income'] = np.nan

# --- Step 2: Run Gibbs Sampling ---
print("=== Gibbs Sampling ===")
imputer_gibbs = BayesianImputer(df, method='gibbs', num_imputations=2)
imputer_gibbs.detect_missing_mechanism()
imputer_gibbs.initialize_missing()
gibbs_result = imputer_gibbs.impute(return_all=False)
display(gibbs_result.head())

# --- Step 3: Run Metropolis-Hastings ---
print("\n=== Metropolis-Hastings ===")
imputer_mh = BayesianImputer(df, method='metropolis', num_imputations=2)
imputer_mh.detect_missing_mechanism()
imputer_mh.initialize_missing()
mh_result = imputer_mh.impute(return_all=False)
display(mh_result.head())

=== Gibbs Sampling ===
[Init] BayesianImputer initialized with method='gibbs', mechanism='MAR', imputations=2
[Detect] Missing value count per column:
age       10
income    15
dtype: int64
[InitMissing] Missing values initialized using column means.
[Impute] Running gibbs sampling...
[Gibbs] Starting Gibbs sampling...
[Gibbs] Imputation 1 completed.
[Gibbs] Imputation 2 completed.
[Gibbs] Gibbs sampling finished.
[Impute] Imputation complete.

         age        income
0  36.849990  53161.203360
1  31.859499  44054.405295
2  25.985572  51371.106365
3  27.440512  57343.613031
4  34.361698  38230.668051

=== Metropolis-Hastings ===
[Init] BayesianImputer initialized with method='metropolis', mechanism='MAR', imputations=2
[Detect] Missing value count per column:
age       10
income    15
dtype: int64
[InitMissing] Missing values initialized using column means.
[Impute] Running metropolis sampling...
[MH] Starting Metropolis-Hastings sampling...
[MH] Imputation 1 completed.
[MH] Imputation 2 completed.
[MH] Metropolis-Hastings sampling finished.
[Impute] Imputation complete.

         age        income
0  36.849990  53161.203360
1  31.859499  50418.769438
2  25.985572  51371.106365
3  30.501863  57343.613031
4  28.929682  38230.668051